body{
    margin:0%;
    padding: 0em;
}

#1{
    margin-bottom: 1px;
    align-items: center;
}


.nav{
    margin: 0%;
    padding: 1%;
    align-content: center;
    background-color:black;
}

a{
    text-decoration: none;
    color: whitesmoke;
    line-height: 1.9;
}
#l1 {
    padding:1%;
}
#l2 {
    padding:1%;
}
#l3 {
    padding:1%;
}
#l4 {
    padding:1%;
}