body{
    margin:0%;
    padding: 0em;
    min-height:99vh; 
}

#root{
    border: 2px solid black;
}
.author{
    color:#B29600;
    font-weight: bold;
    align-content: center;
}

 h1 {
     text-align: center;
     font-size: 45px;
     font-family: fantasy;
}

#1{
    margin-bottom: 1px;
    align-items: center;
    display:inline-block;
    white-space: nowrap;
}


.nav{
    margin: 0 ;  
    overflow: hidden;
    font-variant: small-caps;
    font-weight:500;
    margin: 0%;
    padding: 1%;
    text-align: center;
    background: transparent;
    border: 2px solid black;
    border-bottom: 0px;
    background-color:whitesmoke;
}

a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 2;
    align-content: center;
    padding-right:3%;
    padding-left: 3%;
    border: 1px solid black;
    border-radius: 25px;
}
a:hover{
    color: black;
    background-color: azure;
}

.content{
    background-color: azure;
}
