
body{
    margin:0px;
    padding:0px;
    background-color:blue;
    color:white;
     }


div{
      width:100%;
      text-align:center;
      transform: translate(-50px,50px);
      background:none;
      margin:5px;
      margin-top:5px;
      padding:3px;
      
      font-size:14px;
      text-align:center;
    }
 

#title {
      font-size:20px;
       margin:0px;
      background:black;
     
        }


#name input {
             border:none;
               }

#number input{
              border:none;
               }


#email input{ 
             border:none;
               }


#survey-form{
            background:000000;
             }


.bton{
     border:none;
     background:none;
     width:100%;
     padding:5px;
     font-size:18px;
     cursor:pointer; 
     color:white;
  
     }
