*{
    box-sizing: border-box;
}
.wrapper {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
  }
  .wrapper::after {
    content: "";
    background: url(images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -9;
  }
